nav.navbar{
    background-color: #052C65;
}

nav a.active, li a:hover {
    transition: 220ms;
    background-color:#fff;
    border-bottom: 3px solid #ea6c36;
    border-radius: 10px;
    color: #fff;
}
.nav-link{
    color: #fff;
}

