.conten {
    width: 100vw;
    padding-top: 80px;
    padding-left: 3%;
    flex-wrap: wrap;
    justify-content: center;
}
.items{
    width: 85%;
}

@media (min-width:768px) {
    .conten {
        width: 70%;
        margin: 0 auto;
    }
}
.parrafo {
    padding-right: 4%;
}
.parrafo h4{
    font-size: 40px;
}
.parrafo p{
    font-size: 16px;
}

#imagen1 {
    max-width: 320px;
    float: right;
    border-radius: 15px;
    margin-left: 15px;
}