.parrafo {
    font-size: 18px;
    /* tamaÃ±o de letra*/
    padding-right: 4%;
}

.conten {
    width: 100%;
    padding-left: 3%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

@media (min-width:768px) {
    .conten {
        width: 70%;
        margin: 0 auto;
    }
}

#imagen1 {
    width: 400px;
    height: 400px;
}

.container {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.part2 {
    padding-left: 1%;
    padding-right: 1%;
}